body {
  
}
img{
  width:75% ;
}
.principal{
  background: #CCCCCC
}
p {
  text-align: center
}

em strong {
  color: #FF0000;
}
.itens{
    font-style: italic
}
.beneficios {
    background: #FFFFFF;
}
h2{
  text-align: center;
}
ul{
  display: inline-block;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}
.imagembeneficios{
  width: 50%;
}